Art-Book-Water https://github.com/navy1978/es-theme-art-book-water
Art-Book-4-3 https://github.com/SzalikDesigns/Art-Book-4-3
Airen https://github.com/SzalikDesigns/Airen-4-3
Minielec https://github.com/Rose22/es-theme-minielec
Ultimate-Book https://github.com/SzalikDesigns/Ultimate-Book-4-3
Charcoal https://github.com/SzalikDesigns/Charcoal-4-3
Nes-Book https://github.com/SzalikDesigns/Nes-Book-4-3
Kiwi https://github.com/SzalikDesigns/Dark-Kiwimod
HEXA-HANDHELD https://github.com/lehcimcramtrebor/es-theme-HEXA-HANDHELD
Minimal-Book https://github.com/SzalikDesigns/Minimal-Book-4-3
Screen-Book https://github.com/SzalikDesigns/Screen-Book-4-3
Pineapple-Book https://github.com/SzalikDesigns/Pineapple-Book-4-3
GBZ https://github.com/SzalikDesigns/amberelec-gbz-v
Cody-Epic https://github.com/SzalikDesigns/Vepic-cody
Cody-Destroy https://github.com/szalik-rg351/351elec-rg351v-cody-destroy
Handheld-Simple https://github.com/SzalikDesigns/amberelec-handheld-simple
EpicBlancheNoir-V https://github.com/kefren68/es-theme-351ELEC-epicblanchenoir-V
Elementerial https://github.com/mluizvitor/es-theme-elementerial
Albedo https://github.com/mluizvitor/es-theme-albedo
# This line will be ignored but its needed heheh
